.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: $primary-color;
  margin-bottom: 40px;

  animation: moveInTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  .logo {
    cursor: pointer;
    width: 150px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 320;
  }

  .menu {
    list-style-type: none;
    padding-left: 20px;
  }

  .menu li:first-child {
    font-size: 1.2em;
    text-align: center;
    color: #a0a0a0;
    padding: 10px 0;
    border-bottom: 1px solid darkgrey;
  }

  .button {
    background-color: white;
    width: 80%;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #e7e7e7;
  }

  .large:hover {
    background-color: #1f1675;
  }

  .fa-bell {
    color: #a0a0a0;
    font-size: 1.5rem;
  }

  .fa-bell:hover {
    color: #5a5a5a;
  }

  .navbar-item {
    height: 40px;
    width: 40px;
    margin-left: 30px;
    background-color: $nav-user-color;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__user-name {
      position: absolute;
      color: white;
      font-size: 1.5em;
    }
  }

  .navbar-item:hover {
    background-color: #c77c1b;
  }

  .navbar-item input {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    border-radius: 25px;
    cursor: pointer;
  }

  input:checked + .popup {
    animation: fadeIn 300ms;
    animation-fill-mode: forwards;
  }

  .popup {
    position: absolute;
    right: 100px;
    top: 66px;
    height: 150px;
    width: 250px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
  }

  @keyframes fadeIn {
    from {
      opacity: 0%;
      visibility: hidden;
    }
    to {
      opacity: 100%;
      visibility: visible;
    }
  }
}