.main-container {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 0px 100px;

  &__item {
    &--1 {
      grid-row: 1 / span 4;
      grid-column: 1 / span 2;
      background-color: $primary-color;
      position: relative;

      img {
        max-width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }

    &--2 {
      grid-row: 1 / span 5;
      grid-column: 3 / span 2;
      background-color: $content-js-color;
      position: relative; //add

      .front {
        position: absolute;
        font-size: 3vw;
        bottom: 5px;
        right: 10px;
      }

      &:hover .back {
        bottom: 0;
        height: 100%;
      }

      .back {
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .2s ease;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
          //font-size: 1.5vw;
        }
      }
    }

    &--3 {
      grid-row: 1 / span 2;
      grid-column: 5 / -1;
      background-color: $content-php-color;
      position: relative;

      .front {
        font-size: 3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        height: 100%;
      }

      .back {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .2s ease;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          padding: 10px 15px;
          height: 100%;
        }
      }
    }

    &--4 {
      grid-row: 5 / -1;
      grid-column: 1 / span 2;
      background-color: $content-qa-color;
      position: relative;

      .front {
        font-size: 3vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        width: 100%;
      }

      .back {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .2s ease;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          padding: 10px 15px;
          height: 100%;
        }
      }
    }

    &--5 {
      grid-row: 6 / -1;
      grid-column: 3 / span 2;
      background-color: $content-java-color;
      position: relative;

      .front {
        font-size: 2vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        bottom: 0;
        height: 100%;
      }

      .back {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .2s ease;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
        }
      }
    }

    &--6 {
      grid-row: 3 / -1;
      grid-column: 5 / 8;
      background-color: $content-net-color;
      position: relative;

      .front {
        font-size: 2vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        width: 100%;
        left: 0;
      }

      .back {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .2s ease;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
        }
      }
    }

    &--7 {
      grid-row: 3 / 5;
      grid-column: 8 / -1;
      background-color: $content-events-color;
      position: relative;

      .front {
        font-size: 1.5vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        opacity: 1;
      }

      .back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease-in;

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
        }
      }
    }

    &--8 {
      grid-row: 5 / 7;
      grid-column: 8 / -1;
      background-color: $content-blog-color;
      position: relative;
      perspective: 150rem;

      .front {
        font-size: 1.5vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        transform: rotateY(0)
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        transition: all .5s;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
        }
      }
    }

    &--9 {
      grid-row: 7 / -1;
      grid-column: 8 / -1;
      background-color: $content-contacts-color;
      position: relative;
      perspective: 200rem;

      .front {
        font-size: 1.5vw;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      &:hover .back {
        transform: rotateX(0)
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        transition: all .2s;
        backface-visibility: hidden;
        transform: rotateX(180deg);

        &-text {
          color: black;
          position: absolute;
          overflow: auto;
          height: 100%;
          padding: 10px 15px;
        }
      }
    }
  }
}