.notification {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  z-index: 5;

  &-msg {
    max-width: 180px;
    margin-bottom: 10px;
    color: white;

    &__success {
      background-color: $success;
      opacity: 0.7;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 10px;
    }

    &__error {
      background-color: $error;
      opacity: 0.7;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 10px;
    }
  }

  .notification-mgs__icon {
    padding-right: 10px;

  }
}
