$primary-color: #FFFFFF;
$body-color: #f3f3f8;
$black-color: #000000;
$nav-user-color: #f8991c;
$nav-user-name-color: #9BA6B2;
$content-php-color: #8893BF;
$content-qa-color: #52BF77;
$content-js-color: #F7CF69;
$content-java-color: #E12B4C;
$content-net-color: #642077;
$content-events-color: #2E99FE;
$content-blog-color: #0343A3;
$content-contacts-color: #00255E;
$error: #E12B4C;
$success: #52BF77;