@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;
  font-size: 16px;
  background-color: #f3f3f8;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #FFFFFF;
  margin-bottom: 40px;
  animation: moveInTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.header-container .logo {
  cursor: pointer;
  width: 150px;
}
.header-container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 320;
}
.header-container .menu {
  list-style-type: none;
  padding-left: 20px;
}
.header-container .menu li:first-child {
  font-size: 1.2em;
  text-align: center;
  color: #a0a0a0;
  padding: 10px 0;
  border-bottom: 1px solid darkgrey;
}
.header-container .button {
  background-color: white;
  width: 80%;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.header-container .button:hover {
  background-color: #e7e7e7;
}
.header-container .large:hover {
  background-color: #1f1675;
}
.header-container .fa-bell {
  color: #a0a0a0;
  font-size: 1.5rem;
}
.header-container .fa-bell:hover {
  color: #5a5a5a;
}
.header-container .navbar-item {
  height: 40px;
  width: 40px;
  margin-left: 30px;
  background-color: #f8991c;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .navbar-item__user-name {
  position: absolute;
  color: white;
  font-size: 1.5em;
}
.header-container .navbar-item:hover {
  background-color: #c77c1b;
}
.header-container .navbar-item input {
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  border-radius: 25px;
  cursor: pointer;
}
.header-container input:checked + .popup {
  animation: fadeIn 300ms;
  animation-fill-mode: forwards;
}
.header-container .popup {
  position: absolute;
  right: 100px;
  top: 66px;
  height: 150px;
  width: 250px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@keyframes fadeIn {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}

.main-container {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 0px 100px;
}
.main-container__item--1 {
  grid-row: 1/span 4;
  grid-column: 1/span 2;
  background-color: #FFFFFF;
  position: relative;
}
.main-container__item--1 img {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--2 {
  grid-row: 1/span 5;
  grid-column: 3/span 2;
  background-color: #F7CF69;
  position: relative;
}
.main-container__item--2 .front {
  position: absolute;
  font-size: 3vw;
  bottom: 5px;
  right: 10px;
}
.main-container__item--2:hover .back {
  bottom: 0;
  height: 100%;
}
.main-container__item--2 .back {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}
.main-container__item--2 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}
.main-container__item--3 {
  grid-row: 1/span 2;
  grid-column: 5/-1;
  background-color: #8893BF;
  position: relative;
}
.main-container__item--3 .front {
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--3:hover .back {
  height: 100%;
}
.main-container__item--3 .back {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}
.main-container__item--3 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  padding: 10px 15px;
  height: 100%;
}
.main-container__item--4 {
  grid-row: 5/-1;
  grid-column: 1/span 2;
  background-color: #52BF77;
  position: relative;
}
.main-container__item--4 .front {
  font-size: 3vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--4:hover .back {
  width: 100%;
}
.main-container__item--4 .back {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
}
.main-container__item--4 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  padding: 10px 15px;
  height: 100%;
}
.main-container__item--5 {
  grid-row: 6/-1;
  grid-column: 3/span 2;
  background-color: #E12B4C;
  position: relative;
}
.main-container__item--5 .front {
  font-size: 2vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--5:hover .back {
  bottom: 0;
  height: 100%;
}
.main-container__item--5 .back {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}
.main-container__item--5 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}
.main-container__item--6 {
  grid-row: 3/-1;
  grid-column: 5/8;
  background-color: #642077;
  position: relative;
}
.main-container__item--6 .front {
  font-size: 2vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--6:hover .back {
  width: 100%;
  left: 0;
}
.main-container__item--6 .back {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
}
.main-container__item--6 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}
.main-container__item--7 {
  grid-row: 3/5;
  grid-column: 8/-1;
  background-color: #2E99FE;
  position: relative;
}
.main-container__item--7 .front {
  font-size: 1.5vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--7:hover .back {
  opacity: 1;
}
.main-container__item--7 .back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in;
}
.main-container__item--7 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}
.main-container__item--8 {
  grid-row: 5/7;
  grid-column: 8/-1;
  background-color: #0343A3;
  position: relative;
  perspective: 150rem;
}
.main-container__item--8 .front {
  font-size: 1.5vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--8:hover .back {
  transform: rotateY(0);
}
.main-container__item--8 .back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.main-container__item--8 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}
.main-container__item--9 {
  grid-row: 7/-1;
  grid-column: 8/-1;
  background-color: #00255E;
  position: relative;
  perspective: 200rem;
}
.main-container__item--9 .front {
  font-size: 1.5vw;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container__item--9:hover .back {
  transform: rotateX(0);
}
.main-container__item--9 .back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}
.main-container__item--9 .back-text {
  color: black;
  position: absolute;
  overflow: auto;
  height: 100%;
  padding: 10px 15px;
}

.notification {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.notification-msg {
  max-width: 180px;
  margin-bottom: 10px;
  color: white;
}
.notification-msg__success {
  background-color: #52BF77;
  opacity: 0.7;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.notification-msg__error {
  background-color: #E12B4C;
  opacity: 0.7;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.notification .notification-mgs__icon {
  padding-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 15px;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
